.counties{
  font-size: 0.9em;
}

.counties ul {
  list-style: none;
  padding: 0;
}

.counties ul li {
  height: 40px;
  position: relative;
}

.counties ul li a {
  height: 40px;
  cursor: pointer;
}

.counties ul li a span {
  display: block;
  font-size: 0.8em;
}

.counties ul li a:first-child {
  width: 90%;
  display: block;
}

.counties ul li a:last-child {
  position: absolute;
  right: 5px;
  top: 0;
  width: 10%;
  text-align: right;
  font-size: 1.8em;

  > i:hover {
    color: #C12127;
  }
}

.county {
  padding: 10px 0 0 360px;
}

.county span:first-child {
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: #C12127;
}
